/.idea/
/target/classes/org/beast4ever/aoc/aoc2k15/AoC2k15Application.class
/target/classes/application.properties
/target/classes/org/beast4ever/aoc/aoc2k15/day01/Day01Component.class
/target/test-classes/org/beast4ever/aoc/aoc2k15/day01/Day01ComponentTest.class
/target/classes/org/beast4ever/aoc/aoc2k15/DayResolutionComponent.class
/target/classes/org/beast4ever/aoc/aoc2k15/FileUtilityParser.class
/target/classes/org/beast4ever/aoc/aoc2k15/ForEachWithBreaker$Breaker.class
/target/classes/org/beast4ever/aoc/aoc2k15/ForEachWithBreaker.class
/target/classes/input-day01-S1S2.txt
/target/test-classes/test-input-day01-01.txt
/target/test-classes/test-input-day01-02.txt
/target/test-classes/test-input-day01-03.txt
/target/test-classes/test-input-day01-04.txt
/target/test-classes/test-input-day01-05.txt
/target/test-classes/test-input-day01-06.txt
/target/test-classes/test-input-day01-07.txt
/target/test-classes/test-input-day01-08.txt
/target/test-classes/test-input-day01-09.txt
/target/test-classes/test-input-day01-10.txt
/target/test-classes/test-input-day01-11.txt
